<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><%= title %></h1>
    <a href="/new">New Message</a>
    <ul>
        <% messages.forEach((msg, index) => { %>
            <li>
                <strong><%= msg.user %>:</strong>
                <%= msg.text %> <em>(<%= msg.added.toLocaleString() %>)</em>
                - <a href="/message/<%= index %>">Open</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>